body{
    margin: 0;
    background-image: url(destiny-2-logo-free-logo-download-allogos-destiny-2-logo-png-500_350.png);
    background-color: teal;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    background-color: midnightblue;
    color: whitesmoke;
    position:fixed;
    width: 100%;
    top: 0;
    height: auto;
    align-items: center;
    background-image: url("./Juice\ Productions\ Logo\ copy.png");
    background-size: 65px;
    background-repeat: no-repeat;
    background-position: right;
    justify-content: center;
    flex-wrap: wrap;
    
    font-size: 1vw;
    min-height: 65px;
    
}
header input,header button{
    border-radius: 10px;
    border-style: inset;
}
header input{
    width: min-content;
}

main{
    display:flex;
    margin-top: 100px;
    
    justify-content: center;
    
    
    
}

#clan_name{
    text-align: center;
    background-color: rgba(207, 214, 180, 0.219);
    margin: 0;
}

#players{
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
    background-color:  rgba(207, 214, 180, 0.219);
}
#players :nth-child(odd){
    background-color:  rgba(207, 214, 180, 0.219);
}
#Clan{
    border: black solid 3px;

}
.clan_member{
    padding: 0.25em;
}
